<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Доктора</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="includes/header :: header(user=${user})"></div>
<div class="container">
    <div th:if="${errorMessage}" class="alert alert-danger">
        <div th:each="error : ${errorMessage}" th:text="${error}"></div>
    </div>
    <h1 class="mt-4">Список докторов</h1>
    <div th:each="doctor : ${doctors}">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title" th:text="${doctor.user.lastName + ' ' + doctor.user.firstName + ' ' + doctor.user.surName}"></h5>
                <p class="card-text" th:text="${doctor.specialization}"></p>
                <a th:href="@{/ticket/{doctorId}(doctorId=${doctor.id})}" class="btn btn-primary">Tickets</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>